.app-user-list {
  padding: 10px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  .list-user {
    width: 100%;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Alegreya Sans SC', sans-serif;

    .about_user_link {
      color: #FFFFFF;
      font-size: 1rem;
      font-family: 'Alegreya Sans SC', sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: #101010;
      border: 1px solid #0D1E4B;
    }
  }
}