.app-header {
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
  background-color: #101010;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
  color: #FFFFFF;
  padding: 10px 20px;
  font-family: "Alegreya Sans SC", sans-serif;
}
.app-header .header-link {
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  width: 257px;
  height: 40px;
  color: black;
  background: #FFFFFF;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.app-user-list {
  padding: 10px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.app-user-list .list-user {
  width: 100%;
  border: 1px solid #000000;
  padding: 10px;
  font-size: 1.5rem;
}
.app-user-list .list-user .about_user_link {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Alegreya Sans SC", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: #101010;
  border: 1px solid #0D1E4B;
}

.profile {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.profile-user {
  width: 100%;
  padding: 10px 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 1rem;
}
.profile-user .user-username {
  font-size: 1.7rem;
}
.profile-user .info-item {
  font-size: 1.2rem;
  border: 1px solid #000000;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}
.profile-user .user-username {
  width: 100%;
  border: 1px solid #000000;
  padding: 5px;
  font-size: 1.5rem;
}
.profile-user .user-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.profile-user .user-info .company-title {
  font-size: 1.3rem;
}
.profile-user .user-company {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px 20px;
}

.post-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 10px;
}

.post-body {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.41);
}

.post-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000000;
  padding: 10px;
}

.post_link, .posts_link {
  font-family: "Alegreya Sans SC", sans-serif;
  width: 30%;
  color: #FFFFFF;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  background: #101010;
  border: 1px solid #0D1E4B;
}

.posts_link {
  width: 100%;
  margin-top: 0;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  grid-gap: 10px;
}
.post-list .post_link {
  align-self: flex-end;
}

.post-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}
.post-page .post-full-title {
  font-size: 2.5rem;
  font-family: "Alegreya Sans SC", sans-serif;
}
.post-page .post-full-body {
  font-size: 1.7rem;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 3px solid #0D1E4B;
  font-family: "Open Sans", sans-serif;
}
.post-page .post-comments-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.post-page .post-comments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.post-page .btn-add-comment {
  background: #101010;
  border: 1px solid #0D1E4B;
  font-family: "Alegreya Sans SC", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  margin-bottom: 10px;
}
.post-page .post-comment {
  font-family: "Open Sans", sans-serif;
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
}
.post-page .post-comment .post-comment-title {
  font-style: oblique;
}
.post-page .post-comment .post-comment-email {
  font-style: oblique;
}
.post-page .post-comment .post-comment-body {
  color: #000000;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  height: 400px;
  width: 400px;
  transform: scale(0.5);
  transition: 0.4s all;
}
.modal__content.load-success {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Alegreya Sans SC", sans-serif;
  text-align: center;
  align-self: center;
  font-size: 1.6rem;
}
.modal__content.load-success #icon-smile {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.modal__content.active {
  transform: scale(1);
}
.modal__content.active .form-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.modal__content.active .form-list .form-list-item {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
.modal__content.active .form-list .form-list-item .btn-send-form {
  background: #101010;
  border: 1px solid #0D1E4B;
  font-family: "Alegreya Sans SC", sans-serif;
  color: #FFFFFF;
}
.modal__content.active .form-list input, .modal__content.active .form-list textarea {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
