.app-header {
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
  background-color: #101010;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
  color: #FFFFFF;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;

  .header-link {
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    width: 257px;
    height: 40px;
    color: black;
    background: #FFFFFF;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 10px;
    text-align: center;
  }
}

.app-user-list {
  padding: 10px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  .list-user {
    width: 100%;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 1.5rem;

    .about_user_link {
      color: #FFFFFF;
      font-size: 1rem;
      font-family: 'Open Sans', sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: #101010;
      border: 1px solid #0D1E4B;
    }
  }
}

.profile {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.profile-user {
  width: 100%;
  padding: 10px 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 1rem;

  .user-username {
    font-size: 1.7rem;
  }

  .info-item {
    font-size: 1.2rem;
    border: 1px solid #000000;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
  }

  .user-username  {
    width: 100%;
    border: 1px solid #000000;
    padding: 5px;
    font-size: 1.5rem;
  }

  .user-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .company-title {
      font-size: 1.3rem;
    }
  }

  .user-company {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

.user-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px 20px;

}

.post-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 10px;
}

.post-body {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.41);

}

.post-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000000;
  padding: 10px;
}

.post_link, .posts_link {
  width: 30%;
  color: #FFFFFF;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  background: #101010;
  border: 1px solid #0D1E4B;
}

.posts_link {
  width: 100%;
  margin-top: 0;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  grid-gap: 10px;

  .post_link {
    align-self: flex-end;
  }
}